<h1>Teller View</h1>
<div class="main">
  <section class="display">
    <!-- Display: Customer information except for when inquiring about transaction -->
    <h4>Customer Information</h4>
   
      <p>{{ bankService.account.age }}</p>
    <p>{{ bankService.account.address.street }}</p>
    <p>{{ bankService.account.address.city }}<br>
     {{ bankService.account.address.country }}<br>
     
    </p>
   
    <!-- Display: if inquiring about transactions -->
    <h4>Last 3 Transactions</h4>
    <div *ngIf="isShow">
    <p>[01-01-2018] -  Deposit ($20 USD)</p>
    <p>[01-01-2018] -  Withdrawal ($40 USD)</p>
    <p>[01-01-2018] -  Deposit ($20 USD)</p>
    </div>
  </section>
  <aside class="options">
    <section class="balance">
      <!-- Display customer balance -->
      {{ bankService.account.balance | number:0 }} USD
    </section>
    <!-- Add functionality to the buttons below -->
    <ul class="options-list">
      <li class="options-item">
        <button *ngIf="balance > 100" (click)="onWithdraw()">Widthdrawl for Customer</button>
      </li>
      <li class="options-item">
        <button (click)="onDeposit()">Deposit for Customer</button>
      </li>
      <li class="options-item">
        <button (click)="show()">Customer Transaction History</button>
      </li>
    </ul>
  </aside>
</div>
