
.main {
  display: flex;
  flex-flow: row nowrap;

}

.display {
  flex-basis: 70vw;
  color: white;
}

.options {
  flex-basis: 30vw;
}

.options-list {
  list-style: none;
}

.options-item {

}
button {
  background-color: #124E78;
  max-width: 200px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
button:hover {
  background-color: #053C5E;
}
section {
  background-color: #1F7A8C;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 15px;
}
