<h1>ATM View</h1>
<div class="main">
  <section class="display">
     Welcome, Henry!
    <!-- Display Feedback information here -->
   
    
    <!-- Display Customer Balance  -->
    <!--<h4>Your Balance {{ bankService.account.balance }}</h4>-->
  
 
    <div><h4 class="options" id="balance"> {{ balance | number:0}}</h4></div>
    <div>
      <h4>Last 3 Transactions</h4>
    </div>
    <ul>
      <li *ngFor="let transaction of bankService.account.transactions">
        {{ transaction.date }} {{ transaction.type | uppercase }}  {{ transaction.amount }} {{ transaction.currency | uppercase }}
      </li>
    </ul>
    
  </section>
  <aside class="options">
    <!-- Add functionality to the buttons below -->
      <input type="number" min="0" max="1000" value="{{value}}" ng-model="value"/>
    <input type="number" 
           min="0" max="99" value="{{initValue}}" >
    <input type="number" ng-model="amountNew" aria-label="amount">
    <ul class="options-list">
      <li class="options-item">
        <button *ngIf="balance > 100" (click)="onWithdraw()">Make a Widthdrawl</button>
      </li>
      <li class="options-item">
        <button (click)="onDeposit()">Deposit Money</button>
      </li>
      <li class="options-item">
        <button (click)="onGetBalance()">Balance Inquiry</button>
      </li>
      <li class="options-item">
        <button (click)="onGetTransactions()">Transactions History</button>
      </li>
    </ul>
  </aside>
</div>
