<h1>Contact View</h1>
<div class="main">
  <section class="display">
    <!-- Display: Customer information except for when inquiring about transaction -->
    <h3>Contact Us</h3>
   
    <p>Address: 1234 street st.<br>
      San Diego, CA 12345<br>
      canada
    </p>
  
    <br><br>
    <!-- Display: if inquiring about transactions -->
   
  </section>
  
   <aside class="options">
    <section class="contactForm">
      <!-- Display contact form -->
      
    </section>
    <!-- Add functionality to the buttons below -->

<form >
  Name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
  Email:<br>
  <input type="text" name="email" value="email">
  <br><br>
  <br>
  Message:<br>
  <textarea name="message" rows="10" cols="30">Some message</textarea>
 
  <br><br>
  <input type="submit" value="Submit">
</form> 
  </aside>

</div>
