<h1>Contact View</h1>
<div class="main">
  <section class="display">
    <!-- Display: Customer information except for when inquiring about transaction -->
    <h4>Contact Us</h4>
   
    <p>Address: 1234 street st.<br>
      San Diego, CA 12345<br>
      canada
    </p>
  
    <br><br>
    <!-- Display: if inquiring about transactions -->
   
  </section>
  
   <aside class="options">
    <!--<section class="contactForm">-->
      <!-- Display contact form -->
      
    <!--</section>-->
    <!-- Add functionality to the buttons below -->

<form ([formGroup])="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">

 
  <input type="text" name="firstname" value="name">
   <small [hidden]="myForm.controls.name.valid || (myForm.controls.name.pristine && !submitted)">
        Name is required (minimum 5 characters).
    </small>
    <input 
          type="text" class="form-control"
          placeholder="Your email" 
          ([formControl])="email"
          [style.borderColor]="email.errors && email.dirty? 'red' : null"
          #emailInput><hr>

  <!--<input type="text" name="email" value="Email">-->
  
  <textarea name="message" rows="10" cols="30">Message</textarea>

  <input (click)="onSubmit()" type="submit" value="SUBMIT">
</form> 
 </aside>

</div>
