<h1>Contact View</h1>
<div class="main">
  <section class="display">
    <!-- Display: Customer information except for when inquiring about transaction -->
    <h4>Contact Us</h4>
   
    <p>Address: 1234 street st.<br>
      San Diego, CA 12345<br>
      canada
    </p>
  
    <br><br>
    <!-- Display: if inquiring about transactions -->
   
  </section>
  
   <aside class="options">
    <!--<section class="contactForm">-->
      <!-- Display contact form -->
      
    <!--</section>-->
    <!-- Add functionality to the buttons below -->

<form>
 
  <input type="text" name="firstname" value="Name">

  <input type="text" name="email" value="Email">
  
  <textarea name="message" rows="10" cols="30">Message</textarea>

  <input type="submit" value="SUBMIT">
</form> 
 </aside>

</div>
